<a href="https://colab.research.google.com/github/jjaquezrd/DATA_SCIENCE/blob/main/OPCIONAL_Tarea_Funciones_intermedias_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Actualizar valores en diccionarios y listas

In [ ]:
x = [ [5,2,3], [10,8,9] ] 
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
z = [ {'x': 10, 'y': 20} ]

1. Cambiar el valor 10 en x a 15. Una vez que hayas terminado, x ahora debería ser [[5,2,3], [15,8,9]].
2. Cambiar el last_name del primer alumno de 'Jordan' a 'Bryant'
3. En el sports_directory, cambie 'Messi' por 'Andrés'.
4. Cambiar el valor 20 en z a 30.

In [ ]:
x[1][0]=15
print(x)

[[5, 2, 3], [15, 8, 9]]

In [ ]:
students[0]['first_name']='Bryant'
print (students)

[{'first_name': 'Bryant', 'last_name': 'Jordan'}, {'first_name': 'John', 'last_name': 'Rosales'}]

In [ ]:
sports_directory['soccer'][0]='Andres'
print(sports_directory)

{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'], 'soccer': ['Andres', 'Ronaldo', 'Rooney']}

In [ ]:
z[0]['y']=30
print(z)

[{'x': 10, 'y': 30}]

Iterar a través de una lista de diccionarios

Crear una función iterateDictionary(some_list para que, dada una lista de diccionarios, la función recorra cada diccionario de la lista e imprima cada llave y el valor asociado. Por ejemplo, dada la siguiente lista:

In [ ]:
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]
def iterateDictionary(students):
  lista=[]
  elemento2=""
  for diccionario in range(len(students)):
    for nombre, apellido in students[diccionario].items():
        elemento = str(f'{nombre}- {apellido} \n')
    lista=[elemento]
    print(lista) 

print(iterateDictionary(students))
# debería generar: (está bien si cada par llave-valor termina en 2 líneas separadas;
# ¡bonificación para que aparezcan exactamente como se muestra a continuación!)
#first_name - Michael, last_name - Jordan
#first_name - John, last_name - Rosales
#first_name - Mark, last_name - Guillen
#first_name - KB, last_name - Tonel

['last_name- Jordan \n']
['last_name- Rosales \n']
['last_name- Guillen \n']
['last_name- Tonel \n']
None