<a href="https://colab.research.google.com/github/jjaquezrd/DATA_SCIENCE/blob/main/Proyecto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
Opcion1 = '/content/drive/MyDrive/Data_Science/DataSet/Fraud.csv'
opcion2 = '/content/drive/MyDrive/Data_Science/DataSet/diabetes_data.csv'

In [ ]:
df1 = pd.read_csv(Opcion1)
df2 = pd.read_csv(opcion2)

# Primera opción: conjunto de datos 1

1. Fuente de datos
* https://www.kaggle.com/datasets/chitwanmanchanda/fraudulent-transactions-data

2.  Breve descripción de datos
* set de datos para predecir transacciones fraudulentas para una companian financiera. Data disponible en formato csv. 6362620 filas y 10 columnas
3. ¿Cuál es el objetivo?
* Poder crear un modelo que permita determinar una transaccion como fraudulenta de acuerdo a sus caracteristicas. 
4. ¿Este es un problema de clasificación o regresión?
* Este es un problema de clasificacion
5. ¿Cuántas características hay?
9 caracteristicas y una columna objetivo
6. ¿Cuántas filas de datos hay?
6,362,620
7. ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?
Siendo un set de datos extenso se prevee en primera instancia se requiere un ajercicio de exploracion a fin de conocer correctamente la data. Ademas se preeve aplicar tecnicas de modelamiento.

In [ ]:
df1.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

# Primera opción: conjunto de datos 2

1. Fuente de datos
* https://www.kaggle.com/datasets/prosperchuks/health-dataset

2.  Breve descripción de datos
* Set de datos que permite dianosticar personas con diabetes, hipertension. No obstante para este ejercicio solo estaremos utilizando el set de datos de diabetes.
3. ¿Cuál es el objetivo?
* Poder crear un modelo que permita diagnosticar si una persona sufre deabetes de acuerdo a sus caracteristicas. 
4. ¿Este es un problema de clasificación o regresión?
* Este es un problema de clasificacion
5. ¿Cuántas características hay?
17 caracteristicas y una columna objetivo
6. ¿Cuántas filas de datos hay?
70,692
7. ¿Qué retos, si es que hay alguno, prevén en la limpieza, exploración o modelización con este conjunto de datos?
Este set de datos se presenta bien balanceado y sin datos nulos. Mas alla del proceso de escalamiento de datos, no se preveen retos adicionales

In [ ]:
df2.head()

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   70692 non-null  float64
 1   Sex                   70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   HeartDiseaseorAttack  70692 non-null  float64
 7   PhysActivity          70692 non-null  float64
 8   Fruits                70692 non-null  float64
 9   Veggies               70692 non-null  float64
 10  HvyAlcoholConsump     70692 non-null  float64
 11  GenHlth               70692 non-null  float64
 12  MentHlth              70692 non-null  float64
 13  PhysHlth              70692 non-null  float64
 14  DiffWalk              70692 non-null  float64
 15  Stroke                70692 non-null  float64
 16  HighBP                70692 non-null  float64
 17  Diabetes              70692 non-null  float64
dtypes: float64(18)
memory usage: 9.7 MB